

<section id="view-kelola-kasir" class="app-view">
    <div class="dashboard-card">
        <div class="card-header">
            <h3><i class="fa-solid fa-users-gear"></i> Kelola Hak Akses Kasir POS</h3>
            <button class="btn-primary" id="btn-add-cashier-modal">
                <i class="fa-solid fa-user-plus"></i> Buat Akun Kasir
            </button>
        </div>
        
        
        <div class="riwayat-filter-header">
            <div class="filter-group search-group">
                <label for="cashier-search">Cari Nama / Username Kasir</label>
                <div class="search-box">
                    <i class="fa-solid fa-magnifying-glass"></i>
                    <input type="text" id="cashier-search" placeholder="Cari kasir...">
                </div>
            </div>
        </div>

        
        <div class="card-body">
            <div class="table-responsive">
                <table class="modern-table">
                    <thead>
                        <tr>
                            <th>Nama Lengkap</th>
                            <th>Username</th>
                            <th>Email</th>
                            <th><i class="fa-solid fa-key" style="margin-right:4px;color:var(--caramel-gold)"></i>Password</th>
                            <th>Status Akun</th>
                            <th>Ubah Status</th>
                            <th style="text-align: center; width: 200px;">Aksi</th>
                        </tr>
                    </thead>
                    <tbody id="cashier-table-tbody">
                        
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>
